@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="page-header col-md-6">
        <h2>Welcome to the Random Team Generator</h2>
        <h4>
            Fill out and submit the details below and this random generator engine will create your desired teams.
            This tool is helpful for team building events at your place at work when you want to shape your teams in different and random ways!
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <label>Upload your List of Individuals:</label>
                <input type="file" />
            </div>
            <div class="form-group">
                <label>Enter Number of Teams:</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Enter Maximum Size per Team:</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
