@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="page-header col-md-6">
        <h2>Welcome to the Random Team Generator</h2>
        <h5>
            Fill out and submit the details below and this random generator engine will create your desired teams.
            This tool is helpful for team building events at your place at work when you want to shape your teams in different and random ways!
        </h5>
    </div>
</div>
<form method="post">
    <div class="form-group">
        <label for="fileUpload" class="col-form-label">Upload your List of People:</label>
        <input type="file" class="form-control-file" id="fileUpload">
    </div>
    <div class="form-group">
        <label class="col-form-label">Select one of the following:</label>
    </div>
    <div class="radio">
        <label class="radio col-form-label">
            <input type="radio" name="randomizeTeamBy" id="randomizeTeamBy" value="totalNumberOfTeams" checked /> Total Number Of Teams
        </label>
    </div>
    <div class="radio">
        <label class="radio col-form-label">
            <input type="radio" name="randomizeTeamBy" id="randomizeTeamBy" value="maxPeoplePerTeam" /> Maximum People Per Team
        </label>
    </div>
    <div class="form-group">
        <label asp-for="GeneratorParameters.TotalNumberOfTeams" class="col-form-label">Enter Desired Number</label>
        <input asp-for="GeneratorParameters.TotalNumberOfTeams" type="text" class="form-control" id="txtNumberOfTeams">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>